body {
    overflow-x: hidden;
    background-color: #f4f5fa;
}

.mt-70 {
    margin-top: 70px !important;

}

.active {
    background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%) !important;
}

.active a {
    color: white !important;
}

.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-heading {
    color: var(--black-color);
    margin-left: 8px;
    line-height: 70px;
}

.nav-header__personal--account {
    width: 50px;
    margin-right: 10px;
}

.personal-account__image {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu__account {
    background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
    border-radius: 15px;
    padding: 0 10px;
}

.dropdown-menu__account--image {
    width: 60px;
    height: 60px;
}

.dropdown-menu__account--item:hover {
    background-color: transparent;
}

.sidebar {
    height: 100vh;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo__image {
    width: 50px;
}

.sidebar-list {
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.sidebar-list span {
    display: inline-block;
    width: 18px;
}

.sidebar-list__item {
    height: 45px;
    /* background-color: aqua; */
    margin: 6px 0;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: all linear 0.2s;
    padding-left: 20px;
}

.sidebar-list__item:hover {
    background-color: rgba(58, 53, 65, 0.04);
}

.sidebar-list__item--link {
    line-height: 40px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: var(--black-color);
    margin-left: 2px;
}

.content {
    margin: 32px;
    background-color: white;
    height: 100vh;
    border-radius: 10px;
    padding: 8px;
}


#header {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    display: inline-block;
    background-image: linear-gradient(98deg, #C6A7FE, #9155FD 94%);
    border-radius: 20px;
    padding: 4px 16px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.row-user td {
    height: 50px;
    vertical-align: bottom;
    font-weight: 500;
}

.action-add {
    width: 17%;
    border: none;
    font-size: 20px;
    padding: 8px 4px;
    background-color: #1dbfaf;
    color: white;
    border-radius: 10px;
}

.action-edit {
    width: 60px;
    border: none;
    background-color: yellow;
    color: black;
    border-radius: 10px;
}

.action-delete {
    width: 60px;
    border: none;
    background-color: red;
    color: white;
    border-radius: 10px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.totalUser {
    font-size: 20px;
    margin-right: 24px;
    font-weight: 500;
    background-color: orange;
    border-radius: 20px;
    color: white;
    padding: 4px 16px;
}

.darhBoard-Music__Container {
    height: 350px;
    background-color: #1dbfaf;
    margin: 50px 20px;
    border-radius: 20px;
}

.darhBoard-User__Container {
    height: 350px;
    background-color: orange;
    margin: 50px 20px;
    border-radius: 20px;

}

.quantity.music-quantity {
    color: white;
    display: block;
    width: 12px;
    margin: 4px auto;
    font-size: 30px;
}
