::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #bebcc0;
   margin-left: 15px;
    /* background-color: hsla(0,0%,100%,0.1); */
  }

.show{
    display: block !important;
}

.header_and_content{
    height: 70px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    height: 70px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 15.7%;
    background-color: var(--primary-nav-color);
    /* opacity: 0.9; */
    backdrop-filter: blur(20px);
}

.nav-header__controllers{
    display: flex;
    max-width: 530px;
    align-items: center;
}

.controllers-button{
    display: flex;
    color: var(--white-color);
}

.cotrollers-button__prev{
    padding-right: 16px;
}

.cotrollers-button__next{
    padding-left: 16px;
    
}

.controllers-search{
    width: 50rem;
    /* background-color: transparent; */
    height: 35px;
    border-radius: 20px;
    box-shadow: 0 0 1px black;
    background-color: hsla(0,0%,100%,0.1);

}

.controllers-search__input{
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    margin-left: 12px;
    color: white;
    background-color: transparent;

    

}

.header__search-history {
    display: none;
    width: 100%;
    background-color: var(--primary-nav-color);
    margin-top: 14px;
    box-shadow: 0 0 3px #D3D3D3;
    border-radius: 3px;
    color: white;
    padding: 6px 0;
   
}

.header__search-history--heading {
    line-height: 3.2rem;
    font-weight: 300;
    color: var(--text-blur);
    font-size: 16px;
    padding-left: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__search-history--item {
    list-style: none;
    line-height: 3.2rem;
    padding-left: 8px;
}

.header__search-history--item:hover {
    opacity: 0.9;
}

.header__search-history--item > span {
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}


.nav-header__personal{
  display: flex;
  align-items: center;
}

.nav-header__personal--setting{
    display: flex;
    width: 40px;
    height: 40px;
    color: var(--white-color);
    font-size: 1.8rem;
    border-radius: 50%;
    background-color: hsla(0,0%,100%,0.1);
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.dropdown-menu__setting{
    background-color: var(--modal-color);
    width: 24rem;
    height: 34rem;
    border-radius: 15px;
    cursor: pointer;
}

.dropdown-menu__setting--item{
    color: white ;
    line-height: 50px;
}

.dropdown-menu__setting--item:hover{
    background-color: var(--link-nav-color) ;
    border-radius: 15px;
    color: white;
}

.dropdown-menu__setting--item span{
    width: 160px;
}

.dropdown-menu__setting--item i:not(.fa-chevron-right){
    width: 30px;
}

.nav-header__personal--account{
    width: 40px;
}

.personal-account__image{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.dropdown-menu__account{
    width: 35rem;
    height: 15rem;
    background-color: var(--modal-color);
    border-radius: 15px;
}

.dropdown-menu__account--image{
    width: 50px;
    height: 50px;
}

.dropdown-menu__account--item:hover{
    background-color: transparent;
}

